{% extends 'base.html' %}

{% block content %}
<h1>Your Task Manager</h1>

<h3>Welcome, {{user}}!</h3>

<table>
    <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
    <th>Finished</th>
    </tr>
    {% comment %} Add data below {% endcomment %}
    {% for item in list_item %}
        <tr>
            <td>{{item.date}}</td>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>
                {% if item.is_finished %}
                Yes
                <input type="checkbox" onclick="location.href=`{% url 'todolist:complete_task_id' item.id %}`" checked/>
                {% else %}
                No
                <input type="checkbox" onclick="location.href=`{% url 'todolist:complete_task_id' item.id %}`"/>
                {% endif %}
            </td>
            <td>
                <button><a href="{% url 'todolist:delete_task_id' item.id %}">Delete Task</a></button>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<button><a href="{% url 'todolist:create_task' %}">New Task</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}