{% extends 'test.html' %}
{% block meta %}
<title>
    Your Todolist
</title>
{% endblock meta %}
{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div id="create_modal" class="fixed w-full min-h-screen items-center justify-center  z-50 inset-0 hidden">
        <div class="bg-[#F3F5F9] flex rounded-2xl shadow-2xl shadow-blue-500 max-w-3xl p-5 items-center">
            <div class="px-8">
                <div class="flex flex-row">
                    <h2 class="font-bold sm:text-3xl text-lg">Tell us what you're up to</h2>
                    <h2 class="font-extrabold sm:text-3xl text-lg text-[#0951A8]">.</h2>
                </div>
                <p class="text-sm mt-2">Add one of your to-do for today!</p>
                <form method="POST" action="" class="flex flex-col" id="task_form">
                    {% csrf_token %}
                    <input class="p-2 mt-4 mb-3 rounded-xl border border-white" id="title" type="text" name="title" placeholder="Title">
                    <p class="text-sm mb-2">Describe your task</p>
                        <textarea class="rounded-xl border text-black border-white mb-5" id="description" name="description"></textarea>
                    <button id="add_task" class="bg-[#0951A8] shadow-md mb-3 shadow-blue-500/50 rounded-xl text-white py-2 hover:scale-110 duration-500">New task</button>
                </form>
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li class="mt-4 text-center text-sm">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="mt-4 grid grid-cols-3 items-center text-gray-500">
                    <hr class="border-gray-500">
                    <p class="text-center items-center">OR</p>
                    <hr class="border-gray-500">
                </div>
                <div>
                    <button class="bg-white w-full rounded-xl shadow-md shadow-gray-400 text-gray-600 text-md py-2 mt-4 border hover:scale-110 duration-500">
                        <a id="close_new_task">
                            Go back
                        </a></button>
                </div>
            </div>
        </div>
    </div>
    <nav class="bg-[#87BCF2] drop-shadow-lg shadow-[#BCDBFB] border-gray-200 px-2 sm:px-3 py-4 rounded">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="" class="flex items-center">
                <span class="self-center text-2xl font-bold whitespace-nowrap">{{user}}'s Task Manager</span>
            </a>
            <button class="bg-white py-3 px-8 rounded-2xl shadow-2xl font-medium "><a href="{% url 'todolist:logout' %}">Logout</a></button>
    </nav>
    <section class="bg-[#F3F5F9] min-h-screen justify-center items-center">
        <div class="flex flex-col text-center">
            <div class="p-4 my-5">
                <h3 class="font-medium text-xl">Welcome back, {{user}}!</h3>
            </div>
            <!-- CARD -->
            <div class="flex flex-wrap flex-row justify-center" id="yourtodolist">
            </div>
            <!-- END OF CARD -->
            <div class="mt-5 p-4">
                <button class="bg-white p-4 px-8 rounded-2xl shadow-2xl"><a id="new_task">+ New Task</a></button>
            </div>
        </div>
        
        <br>
    </section>
</body>

<script>
    $(document).ready(function(){
        let modal = document.querySelector("#create_modal")
        let openButton = document.querySelector("#new_task")
        let closeButton = document.querySelector("#close_new_task")
        let card = (data) => 
        `
            <div>
                <div id=${data.pk} class="w-80 mx-5 bg-white shadow-2xl rounded-lg overflow-hidden group">
                    <img src="https://cdn.discordapp.com/attachments/870380505021968385/1027314161698492456/example.jpeg">
                    <div class="py-4 px-5 text-center">
                        <p class="text-[#FF0076] uppercase tracking-wide font-bold text-sm">
                            ${data.fields.date}
                        </p>
                        <h1 class="text-gray-800 uppercase tracking-wide font-bold text-2xl">
                            ${data.fields.title}
                        </h1>
                        <p class="text-sm tracking-wide text-gray-500 my-4">
                            ${data.fields.description}
                        </p>
                        ${data.fields.is_finished ? `<h1 class="bg-green-600 shadow-sm shadow-green-500 text-white p-3 rounded-2xl uppercase tracking-wide font-bold text-2xl">
                            Finished
                        </h1>` : `<h1 class="bg-[#BCDBFB] shadow-sm shadow-[#BCDBFB] text-[#87BCF2] p-3 rounded-2xl uppercase tracking-wide font-bold text-2xl">
                            Not Finish
                        </h1>`}
                    </div>
                    <div class="items-center justify-center bg-[#276FC8] text-center h-0 group-hover:h-16 transition-all duration-300">
                            <div class="text-[#276FC8] p-[14px] items-center">
                                <button class="bg-white rounded-2xl p-2 text-[14px] mx-3 mr-5 font-normal grow" onclick="location.href='complete_task/${data.pk}'">Change Status</button>  
                                <button class="bg-white rounded-2xl p-2 text-[14px] mx-3 font-normal grow" onclick="location.href='delete_task/${data.pk}'">Delete Task</button> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
        `;

        function add_task(e){
            $("#yourtodolist").append(card(e));
        }

        openButton.addEventListener("click", () =>
        {
            modal.classList.remove("hidden");
            modal.classList.add("flex");
        });

        closeButton.addEventListener("click", () =>
        {
            modal.classList.remove("flex");
            modal.classList.add("hidden");
            reset();
        });

        function show_tasks(){
            $.get("{% url 'todolist:show_data_json' %}", function(e){
                $.each(e, function(i, result) {
                    add_task(result)
                });
            });
        };
        
        function reset(){
            $("#task_form").trigger("reset");
        }

        $("#task_form").submit((event) => {
            event.preventDefault();
            if ($("#title").val() && $("#description").val()) {
                $.ajax({
                type: "POST",
                url: "{% url 'todolist:add' %}",
                data: {title: $("#title").val(), description: $("#description").val()},
                headers: {"X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value},
                success: function(result) {
                    modal.classList.remove("flex");
                    modal.classList.add("hidden");
                    reset();
                    add_task(result);
                },
                });
            } else {
                alert("Please fill the title/description!");
            }
            });

        show_tasks();
    });
</script>

{% endblock content %}